@using NONBAOHIEMVIETTIN.Models
@{
    var db = new nonbaohiemviettinEntities();
    var acc = Session["account"] as accounts;
    var cart = Session["cartSession"] as List<CartItem>;
    var aboutus = db.contact.SingleOrDefault(x => x.display == true);
    TempData["Version"] = "18.5";
}
<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewBag.title | Nón bảo hiểm việt tin</title>
    <meta name="description" content="@ViewBag.Description">
    <meta property="og:type" content="article">
    <meta property="og:title" content="@ViewBag.title">
    <meta property="og:url" content="@ViewBag.Url">
    <meta property="og:image" content="@ViewBag.Image">
    <meta property="og:description" content="@ViewBag.Description">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/images/logo/logo.png">
    <!-- all css here -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="~/assets/client/css/plugin.css?@TempData["Version"]">
    <link rel="stylesheet" href="~/assets/client/css/bundle.css?@TempData["Version"]">
    <link href="~/assets/client/css/iziToast.min.css" rel="stylesheet" />
    <link href="~/assets/client/css/jquery-ui.css?@TempData["Version"]" rel="stylesheet" />

    <link href="~/assets/client/css/style.css?@TempData["Version"]" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/client/css/responsive.css?@TempData["Version"]">
    <link href="~/assets/client/css/loadpage.css?@TempData["Version"]" rel="stylesheet" />
    <link href="~/Content/alertifyjs/alertify.min.css?@TempData["Version"]" rel="stylesheet" />
    <link href="~/Content/alertifyjs/themes/default.min.css?@TempData["Version"]" rel="stylesheet" />
    <link href="~/assets/client/css/hotline.css?@TempData["Version"]" rel="stylesheet" />

    <script src="~/assets/client/js/vendor/modernizr-2.8.3.min.js?@TempData["Version"]"></script>
    <script src="~/assets/client/js/vendor/jquery-1.12.0.min.js?@TempData["Version"]"></script>

    @RenderSection("styles", false)
</head>

<body>

    <!-- Messenger Plugin chat Code -->
    <div id="fb-root"></div>

    <!-- Your Plugin chat code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>

    <script>
        var chatbox = document.getElementById('fb-customer-chat');
        chatbox.setAttribute("page_id", "102216185074885");
        chatbox.setAttribute("attribution", "biz_inbox");
    </script>

    <!-- Your SDK code -->
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                xfbml: true,
                version: 'v13.0'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <!-- Hiệu ứng load -->
    <!-- <div class="load">
        <img src="loader.gif">
    </div> -->
    <div class="loader">
        <a href="http://nonbaohiem.ml" class="loader-text">nonbaohiem.ml</a>
        <span class="fas fa-spinner turn _icon">

        </span>
    </div>
    <!-- Add your site or application content here -->
    <!-- Start hotline -->
    <div class="hotline-phone-ring-wrap">
        <div class="hotline-phone-ring">
            <div class="hotline-phone-ring-circle"></div>
            <div class="hotline-phone-ring-circle-fill"></div>
            <div class="hotline-phone-ring-img-circle">
                <a href="tel:0376880903" class="pps-btn-img">
                    <img src="https://nguyenhung.net/wp-content/uploads/2019/05/icon-call-nh.png" alt="Gọi điện thoại" width="50">
                </a>
            </div>
        </div>
        <div class="hotline-bar">
            <a href="tel:0376880903">
                <span class="text-hotline">037.688.0903</span>
            </a>
        </div>
    </div>
    <!-- End hotline -->
    <!--pos page start-->
    <div class="pos_page">
        <div class="container">
            <!--pos page inner-->
            <div class="pos_page_inner">
                <!--header area -->
                <div class="header_area">
                    <!--header top-->
                    <div class="header_top">
                        <div class="row align-items-center">
                            <div class="col-lg-12 col-md-12">
                                <div class="switcher">
                                    <ul>
                                        <li class="">
                                            <a href="/gioi-thieu">
                                                Giới thiệu
                                            </a>

                                        </li>
                                        @if (acc != null)
                                        {
                                            <li style="margin-left:auto" class="languages">
                                                <a class="w-100">

                                                    @if (acc.issocial == 0)
                                                    {
                                                        <img style="border-radius:50%;width: 24px;margin-right: 2px;" src="/@acc.image" alt="">

                                                    }
                                                    else
                                                    {
                                                        <img style="border-radius:50%; width: 24px;margin-right: 2px;" src="@acc.image" alt="">

                                                    }
                                                    <i id="accountname" style="font-style:normal">@acc.fullname</i>
                                                    <i class="fa fa-angle-down"></i>
                                                </a>

                                                <ul class="dropdown_languages" style="right:0;min-width:150px">
                                                    <li>
                                                        <a id="btninfoacc" class="w-100" href="/thong-tin-tai-khoan">
                                                            <i class="far fa-user"></i>
                                                            Thông tin tài khoản
                                                        </a>
                                                    </li>
                                                    @if (acc.issocial == 0)
                                                    {

                                                        <li>
                                                            <a id="btnchangepasswordlink" class="w-100" href="#">
                                                                <i class="fas fa-key"></i>
                                                                Đổi mật khẩu
                                                            </a>
                                                        </li>
                                                    }
                                                    <li>
                                                        <a class="w-100" href="#" id="btnlogout">
                                                            <i class="fas fa-sign-out-alt"></i>
                                                            Đăng xuất
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                        }
                                        else
                                        {
                                            <li style="margin-left:auto">
                                                <a href="/dang-nhap">Đăng nhập</a>
                                            </li>
                                                <li>
                                                    <a href="/dang-nhap">Đăng ký</a>
                                                </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--header top end-->
                    <!--header middel-->
                    <div class="header_middel">
                        <div class="row align-items-center">
                            <!--logo start-->
                            <div class="col-lg-3 col-md-3">
                                <div class="logo">
                                   @* <a href="/"><img style="width:75px;" src="~/assets/images/logo/logo.png" alt=""></a>*@
                                    <a href="/"  class="text-decoration-none d-block d-none text-center">
                                        <h1 class="m-0 display-5 font-weight-semi-bold" style="color:#00BBA6;" ><span class="font-weight-bold border px-3 mr-1">T</span>HELMETS</h1>
                                    </a>
                                </div>
                            </div>
                            <!--logo end-->
                            <div class="col-lg-9 col-md-9">
                                <div class="header_right_info">
                                    <div class="search_bar">
                                        <div class="form">
                                            <input name="keyword" id="txtkeyword" placeholder="Tìm kiếm..." type="text">
                                            <button id="btnsearch" type="submit"><i class="fa fa-search"></i></button>
                                        </div>
                                    </div>
                                    <div class="shopping_cart">
                                        <a href="">
                                            <i class="fa fa-shopping-cart"></i>
                                            <span>

                                                @(cart != null ? (cart.Sum(x => x.Quantity) + "sản phẩm -" + Libary.Instances.convertVND(cart.Sum(x => x.Quantity * (x.Product.promationprice > 0 ? x.Product.promationprice : x.Product.price)).ToString())) : "0 sản phẩm - 0đ")
                                            </span>
                                            <i class="fa fa-angle-down"></i>
                                        </a>

                                        <!--mini cart-->
                                        <div id="lst-cart" class="mini_cart">
                                            <div class="img-cart" style="padding:24px;">
                                                <img src="~/assets/images/cart/no-cart.png" />
                                            </div>
                                            <div id="cart" style="max-height:300px; overflow-y:scroll">
                                                @if (cart == null || cart.Count == 0)
                                                {

                                                    <script>
                                                        $(function () {
                                                            $('.img-cart').show();
                                                            $('#shipping-group').hide();
                                                        });
                                                    </script>

                                                }
                                                else
                                                {
                                                    <script>
                                                        $(function () {
                                                            $('.img-cart').hide();
                                                            $('#shipping-group').show();

                                                        });
                                                    </script>
                                                    foreach (var item in cart)
                                                    {
                                                        <div class="cart_item cart-@item.Product.id">
                                                            <div class="cart_img">
                                                                <a href="/chi-tiet/@(item.Product.alias)"><img src="/@item.Product.image" alt=""></a>
                                                            </div>
                                                            <div class="cart_info">
                                                                <a href="/chi-tiet/@(item.Product.alias)">@item.Product.name</a>
                                                                @if (item.Product.promationprice > 0)
                                                                {
                                                                    <span class="cart_price">@Libary.Instances.convertVND(item.Product.promationprice.ToString())</span>
                                                                }
                                                                else
                                                                {
                                                                    <span class="cart_price">@Libary.Instances.convertVND(item.Product.price.ToString())</span>
                                                                }
                                                                <span class="quantity">Số lượng: @item.Quantity</span>
                                                            </div>
                                                            <div class="cart_remove">
                                                                <a title="Xoá sản phẩm @item.Product.name" data-id="@item.Product.id" class="deletecart" href=""><i class="fa fa-times-circle"></i></a>
                                                            </div>
                                                        </div>

                                                    }
                                                }
                                            </div>
                                            <div id="shipping-group">
                                                <div class="total_price">
                                                    <span> Tổng tiền: </span>
                                                    <span class="prices">@(cart != null ? Libary.Instances.convertVND(cart.Sum(x => x.Quantity * (x.Product.promationprice > 0 ? x.Product.promationprice : x.Product.price)).ToString()) : "0")</span>
                                                </div>
                                                <div class="cart_button">
                                                    <a id="btncheckout" href="/gio-hang"> Giỏ hàng</a>
                                                </div>
                                            </div>
                                        </div>
                                        <!--mini cart end-->
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!--header middel end-->
                    <div class="header_bottom">
                        <div class="row">
                            <div class="col-12">
                                @RenderPage("~/Views/Shared/_Navbar.cshtml")
                            </div>
                        </div>
                    </div>
                </div>
                <!--header end -->

                @RenderBody()

            </div>
        </div>
        <!--pos page end-->
        <!--footer area start-->
        <div class="footer_area">
            <div class="footer_top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="footer_widget">
                                @if (aboutus != null)
                                {
                                    <h3>@aboutus.title</h3>
                                        <p>@Html.Raw(aboutus.content)</p>
                                        <div class="footer_widget_contect">
                                            <p><i class="fa fa-map-marker" aria-hidden="true"></i>@aboutus.address </p>

                                            <p><a href="tel:@aboutus.phone"><i class="fa fa-mobile" aria-hidden="true"></i> @aboutus.phone</a></p>
                                            <a href="mailto:@aboutus.email"><i class="fa fa-envelope-o" aria-hidden="true"></i>@aboutus.email  </a>
                                        </div>
                                }
                                else
                                {
                                    <h4 class="text-center text-warning">Lỗi thông tin liên hệ. Vui lòng liên hệ admin để biết.</h4>
                                }
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="footer_widget">
                                <h3>Tài khoản của bạn</h3>
                                <ul>
                                    @if (acc != null)
                                    {
                                        <li><a href="/thong-tin-tai-khoan">Thông tin tài khoản</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="/dang-nhap">Đăng nhập</a></li>
                                            <li><a href="/dang-nhap">Đăng ký</a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 mb-1">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d125578.65198579546!2d106.38024530009294!3d10.395114352278497!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x310ab22487796b79%3A0xfdd0bc625863f488!2zQ2jhu6MgR-G6oW8gRGlzdHJpY3QsIFRpZW4gR2lhbmcsIFZpZXRuYW0!5e0!3m2!1sen!2s!4v1643116057816!5m2!1sen!2s" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

                        </div>
                    </div>
                </div>
            </div>
            <div class="footer_bottom">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-4 col-md-4">
                            <div class="copyright_area">
                                <ul>
                                    <li><a href="/lien-he"> Liên hệ </a></li>
                                    <li><a href="#">  Dịch vụ khách hàng  </a></li>
                                    <li><a href="#">  Chính sách bảo mật  </a></li>
                                </ul>
                                <p>Copyright &copy; @DateTime.Now.Year <a target="_blank" href="https://www.facebook.com/duy.12200">Duy</a>. All rights reserved. </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="copyright_area text-center">
                                <p>Đang online:@ApplicationInstance.Application["Visiting"]</p>
                                <p>Tổng người online:@ApplicationInstance.Application["Visited"]</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="ft_social text-center">
                                <ul>
                                    <li><a href="https://www.facebook.com/duy.12200" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="mailto:dongduy0612@gmail.com"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--footer area end-->
        <!-- Modal changepassword -->
        <div class="modal fade" id="myModal7" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Đổi mật khẩu</h4>
                        <button type="button" style="position: unset; width: unset;border: unset;height:unset;" id="btnclosexchangepassword" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <input id="passoldchange" placeholder="Nhập mật khẩu cũ" autofocus autocomplete="on" class="form-control" type="password" />
                        <input id="passnewchange" style="margin:6px 0;" placeholder="Nhập mật khẩu mới" autofocus autocomplete="on" class="form-control" type="password" />
                        <input id="prepasschange" placeholder="Nhập lại mật khẩu" autofocus autocomplete="on" class="form-control" type="password" />
                    </div>
                    <div class="modal-footer" style="justify-content: space-between;">
                        <button type="button" id="btnsubmitchangepassword" class="btn btn-outline-success">

                            Xác nhận
                        </button>
                        <button type="button" id="btnclosechangepassword" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        <!--Modal changepassword end-->
        <!-- all js here -->
        <script src="~/assets/client/js/popper.js?@TempData["Version"]"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js?@TempData["Version"]" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="~/assets/client/js/ajax-mail.js?@TempData["Version"]"></script>
        <script src="~/assets/client/js/plugins.js?@TempData["Version"]"></script>
        <script src="~/Scripts/alertify.min.js?@TempData["Version"]"></script>
        <script src="~/assets/client/js/jquery-ui.js?@TempData["Version"]"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script src="~/assets/client/js/iziToast.min.js"></script>
        <script src="~/assets/client/js/main.js?@TempData["Version"]"></script>
        <script src="~/assets/client/js/code/main.js?@TempData["Version"]"></script>
        <script src="~/assets/client/js/code/animation-rain.js?@TempData["Version"]"></script>
        <script>
            $(window).on('load', function (event) {
                $('.loader').remove();

            });
        </script>


        @RenderSection("scripts", false)


</body>
</html>