@model System.Web.Mvc.HandleErrorInfo 
    @{ 
        ViewBag.title = "Lỗi 404";
        TempData["Version"] = "2.0";
        ViewBag.Description = "Trang của bạn không tồn tại hoặc đường dẫn đã bị thay đổi.Vui lòng truy cập lại sau";
        ViewBag.Url = "https://" + HttpContext.Current.Request.Url.Host.ToString().Trim().ToLower() + HttpContext.Current.Request.RawUrl.ToString().Trim().ToLower();
        ViewBag.Image = "https://previews.123rf.com/images/kaymosk/kaymosk1804/kaymosk180400005/99776312-fehler-404-seite-nicht-gefunden-fehler-mit-glitch-effekt-auf-dem-bildschirm-vektor-illustration-f%C3%BCr-.jpg";
    }
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>ViewBag.title</title>
    <meta name="description" content="@ViewBag.Description">
    <meta property="og:type" content="article">
    <meta property="og:title" content="@ViewBag.title">
    <meta property="og:url" content="@ViewBag.Url">
    <meta property="og:image" content="@ViewBag.Image">
    <meta property="og:description" content="@ViewBag.Description">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/favicon.png">

    <!-- all css here -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css?@TempData["Version"]">
    <link rel="stylesheet" href="~/assets/css/plugin.css?@TempData["Version"]">
    <link rel="stylesheet" href="~/assets/css/bundle.css?@TempData["Version"]">
    <link rel="stylesheet" href="~/assets/css/style.css?@TempData["Version"]">
    <link rel="stylesheet" href="~/assets/css/responsive.css?@TempData["Version"]">
    <script src="~/assets/js/vendor/modernizr-2.8.3.min.js?@TempData["Version"]"></script>
</head>
<body>
    <!-- Add your site or application content here -->
    <!--pos page start-->    
    <div class="container">
        <!--error section area start-->
        <div class="error_section">
            <div class="row">
                <div class="col-12">
                    <div class="error_form">
                        <h1>404</h1>
                        <h2>Lỗi trang không tìm thấy</h2>
                        <p>Xin lỗi! Trang của bạn không tồn tại hoặc đường dẫn đã bị thay đổi<br />Vui lòng truy cập lại sau</p>
                        <a href="/">Trở về trang chủ</a>
                    </div>
                </div>
            </div>
        </div>
        <!--error section area end-->
    </div>
    <!--pos page end-->
    <!-- all js here -->
    <script src="~/assets/js/vendor/jquery-1.12.0.min.js?@TempData["Version"]"></script>
    <script src="~/assets/js/popper.js?@TempData["Version"]"></script>
    <script src="~/assets/js/bootstrap.min.js?@TempData["Version"]"></script>
    <script src="~/assets/js/ajax-mail.js?@TempData["Version"]"></script>
    <script src="~/assets/js/plugins.js?@TempData["Version"]"></script>
    <script src="~/assets/js/main.js?@TempData["Version"]"></script>
</body>
</html>
