@using NONBAOHIEMVIETTIN.Models;
@model PagedList.IPagedList<rate>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Danh sách đánh giá sản phẩm";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
    var db = new nonbaohiemviettinEntities();
}
@section styles{
    <style>
        .img-product {
            width: 100px;
            height: 100px;
        }

        .modal-body {
            overflow-y: scroll;
            max-height: 70vh;
        }

            .modal-body p {
                margin: 0;
            }
    </style>
}
@section scripts{
    @if (TempData["status"] != null)
    {
        <script>
            $(function () {
                alertify.success(`@TempData["status"]`);
            })
        </script>
    }
}
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex align-items-center justify-content-between flex-wrap">
        <h6 class="m-0 font-weight-bold text-primary">Danh sách đánh giá sản phẩm</h6>
        <form method="get" action="/tim-kiem-danh-gia" class="d-sm-inline-block form-inline ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
                <input name="tukhoa" type="text" class="form-control bg-light border-0 small" placeholder="Tìm kiếm..." aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">
                        <i class="fas fa-search fa-sm"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="ui-sortable-table table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Tên tài khoản</th>
                        <th>Tên sản phẩm</th>
                        <th>Số sao</th>
                        <th>Bình luận</th>
                        <th>Ngày đánh giá</th>
                        <td>Công cụ</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr id="_rate_@item.id">
                            <td>@item.id</td>
                            <td>@item.accounts.username</td>
                            <td>@item.products.name</td>
                            <td>@item.star sao</td>
                            <td>@item.comment</td>
                            <td>@item.createdate</td>
                            <td>
                                <div class="tool d-flex align-items-center flex-column justify-content-center">
                                    <a data-id="@item.id" title="Xoá đánh giá của tài khoản @item.accounts.username đánh giá sản phẩm @item.products.name" class="delete_rate d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                                        <i class="far fa-trash-alt"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>
@if (ViewBag.last != 1)
{
    <ul class="pagination mr-auto ml-auto" style="justify-content:center;">
        @if (ViewBag.check == true)
        {
            @Html.PagedListPager(Model,
        page => Url.Action("Index", new { page }),
        new PagedListRenderOptions
        {
            MaximumPageNumbersToDisplay = 3
        })
        }
        else
        {
            @Html.PagedListPager(Model, page => Url.Action("Search", new { tukhoa = Request.Url.Query.Substring(Request.Url.Query.IndexOf("?tukhoa="), Request.Url.Query.LastIndexOf('&') == -1 ? Request.Url.Query.Length : Request.Url.Query.LastIndexOf('&')).Replace("?tukhoa=", ""), page }),
                                    new PagedListRenderOptions
                                    {
                                        MaximumPageNumbersToDisplay = 5
                                    });
        }

    </ul>
}