@using NONBAOHIEMVIETTIN.Models
@model contact

@{
    ViewBag.Title = "Sửa liên hệ " + Model.title;
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
    var db = new nonbaohiemviettinEntities();
}

@section scripts{
    <script>
        // Disable form submissions if there are invalid fields
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Get the forms we want to add validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);

            var editor = CKEDITOR.replace('txtDescription', {
                customConfig: '/Areas/admin/assets/js/ckeditor/config.js'
            })
            $('#btnimg').click(function (e) {
                e.preventDefault();
                var finder = new CKFinder();
                finder.selectActionFunction = function (url) {
                    $('#txtimg').text(url);
                    $('#txtimg_hide').val(url);
                }
                finder.popup();

            })               
            $('#input_display').change(function () {
                if ($(this).is(":checked")) {
                    $('#input_mess-display').text('Hiện');
                    $('input[name="display"]').val('True');
                }


                else {
                    $('#input_mess-display').text('Ẩn');
                    $('input[name="display"]').val('False');
                }

            });
        })();

    </script>
    @if (TempData["status"] != null)
    {
        <script>
        $(function () {
            alertify.error(`@TempData["status"]`);
        })
        </script>
    }
}
@section styles{
    <style>
        .custom-file-label {
            left: 0.75rem;
            right: 0.75rem;
        }

        .input-ckb {
            height: 20px;
            width: 20px;
            cursor: pointer;
        }
    </style>
}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Sửa liên hệ <strong>@Model.title</strong></h6>
    </div>

    <div class="card-body">
        @using (Html.BeginForm("Edit", "Contact_admin", FormMethod.Post, new { @enctype = "multipart/form-data", @class = "needs-validation", @novalidate = "true" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.id)
            @Html.HiddenFor(model => model.alias)
            @Html.HiddenFor(model => model.display)
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-md-12">Tiêu đề</label>
                    <div class="col-md-12">
                        <input value="@Model.title" name="title" placeholder="Nhập vào tiêu đề" required class="form-control" />
                        <div class="valid-feedback">Valid</div>
                        <div class="invalid-feedback">Nhập vào tiêu đề</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-12">Bạn muốn ẩn đi hay hiện liên hệ <strong>@Model.title</strong>?</label>
                    <div class="col-md-12">
                        <div class="d-flex align-items-center">
                            <input id="input_display" class="input-ckb" type="checkbox" checked="@Model.display" />
                            <span class="ml-2" id="input_mess-display">@(Model.display == false ? "Ẩn" : "Hiện")</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-12">Địa chỉ</label>
                    <div class="col-md-12">
                        <input value="@Model.address" name="address" placeholder="Nhập vào địa chỉ" required class="form-control" />
                        <div class="valid-feedback">Valid</div>
                        <div class="invalid-feedback">Nhập vào địa chỉ</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-12">Email</label>
                    <div class="col-md-12">
                        <input value="@Model.email" name="email" type="email" placeholder="Nhập vào số điện thoại" required class="form-control" />
                        <div class="valid-feedback">Valid</div>
                        <div class="invalid-feedback">Nhập vào email</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-12">Số điện thoại</label>
                    <div class="col-md-12">
                        <input value="@Model.phone" name="phone" type="tel" placeholder="Nhập vào số điện thoại" required class="form-control" />
                        <div class="valid-feedback">Valid</div>
                        <div class="invalid-feedback">Nhập vào số điện thoại</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-12">Giờ làm việc</label>
                    <div class="col-md-12">
                        <input value="@Model.worktime" name="worktime" placeholder="Nhập vào giờ làm việc" required class="form-control" />
                        <div class="valid-feedback">Valid</div>
                        <div class="invalid-feedback">Nhập vào giờ làm việc</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-12">Ngày làm việc</label>
                    <div class="col-md-12">
                        <input value="@Model.workday" name="workday" placeholder="Nhập vào ngày làm việc" required class="form-control" />
                        <div class="valid-feedback">Valid</div>
                        <div class="invalid-feedback">Nhập vào ngày làm việc</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-12">Link bản đồ (<a href="https://www.google.com/maps/" target="_blank">Click vào đây</a> để lấy link)</label>
                    <div class="col-md-12">
                        <input value="@Model.map" name="map" placeholder="Nhập vào link bản đồ" required class="form-control" />
                        <div class="valid-feedback">Valid</div>
                        <div class="invalid-feedback">Nhập vào link bản đồ</div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-12">Nội dung</label>
                    <div class="col-md-12">
                        <textarea required placeholder="Nhập vào nội dung" id="txtDescription" name="content" class="form-control">@Model.content</textarea>
                    </div>
                    <div class="valid-feedback">Valid</div>
                    <div class="invalid-feedback">Nhập nội dung</div>
                </div>


                <div class="form-group">
                    <a href="/lien-he" class="btn btn-light btn-icon-split" style="margin:0 0.75rem">
                        <span class="icon text-gray-600">
                            <i class="fas fa-arrow-left"></i>
                        </span>
                        <span class="text">Trở về</span>
                    </a>
                    <button type="submit" style="margin:0 0.75rem" class="btn btn-success btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-plus"></i>
                        </span>
                        <span class="text">Tạo mới</span>
                    </button>
                </div>
            </div>
        }
    </div>
</div>
