@using NONBAOHIEMVIETTIN.Models
@model List<CartItem>
@{
    ViewBag.Title = "Yêu thích";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Description = "Những sản phẩm được khách hàng đưa vào yêu thích muốn đặt hàng có thể thêm vào giỏ hàng.";
    ViewBag.Url = "https://" + HttpContext.Current.Request.Url.Host.ToString().Trim().ToLower() + HttpContext.Current.Request.RawUrl.ToString().Trim().ToLower();
    ViewBag.Image = "https://media0.giphy.com/avatars/thewishlistmx/ENBBDDJgOxLy.jpg";

}
<!--breadcrumbs area start-->
<div class="breadcrumbs_area">
    <div class="row">
        <div class="col-12">
            <div class="breadcrumb_content">
                <ul>
                    <li><a href="/">Trang chủ</a></li>
                    <li><i class="fa fa-angle-right"></i></li>
                    <li>Yêu thích</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->
<div class="img-wish" style="display:flex;justify-content:center;padding:24px 0;">
    <img src="~/assets/images/cart/no-cart.png" />
</div>
@if (Session["wishSession"] == null || Model.Count() == 0)
{

    <script>
            $(function () {
                $('.img-wish').show();
            });
    </script>

}
else
{
    <script>
            $(function () {
                $('.img-wish').hide();
            });
    </script>
<!--shopping cart area start -->
<div id="wish" class="shopping_cart_area">
    <div class="row">
        <div class="col-12">
            <div class="table_desc wishlist">
                <div class="cart_page table-responsive">
                    <table style="width:100%;" id="table-wish">
                        <thead>
                            <tr>
                                <th class="product_total">
                                    Công cụ
                                </th>
                                <th class="product_thumb">Hình ảnh</th>
                                <th class="product_name">Tên sản phẩm</th>
                                <th class="product-price">Giá</th>
                                <th class="product_quantity">Số lượng</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr id="wish-@item.Product.id">
                                    <td class="product_total">
                                    <a href="" class="deletewish" title="Xoá sản phẩm @item.Product.name" data-id="@item.Product.id">X</a>                                      
                                         <a href="" class="addcart" data-id="@item.Product.id" data-value="@item.Quantity" title="Thêm giỏ hàng"><i class="fa fa-shopping-cart"></i></a>
                                    </td>
                                    <td class="product_thumb">
                                    <a href="/chi-tiet/@(item.Product.alias)">
                                        <img style="width:80px;" src="/@item.Product.image" alt=""></a></td>
                                    <td class="product_name"><a href="/chi-tiet/@(item.Product.alias)">@item.Product.name</a></td>
                                    @if (item.Product.promationprice > 0)
                                    {
                                    <td class="product-price">@Libary.Instances.convertVND(item.Product.promationprice.ToString())</td>
                                    }
                                    else
                                    {
                                        <td class="product-price">@Libary.Instances.convertVND(item.Product.price.ToString())</td>

                                    }
                                    <td class="product_quantity">@item.Quantity</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!--shopping cart area end -->
}
