@model NONBAOHIEMVIETTIN.Models.products

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>products</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.alias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.alias)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.promationprice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.promationprice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.viewcount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.viewcount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createddate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createddate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fastsell)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fastsell)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.newproduct)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.newproduct)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.category.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.category.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.groupproduct.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.groupproduct.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.production.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.production.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
