@using NONBAOHIEMVIETTIN.Models
@model PagedList.IPagedList<order>
@using PagedList.Mvc;
@{
    var acc = Session["account"] as accounts;
    var db = new nonbaohiemviettinEntities();

    ViewBag.Title = "Thông tin tài khoản - " + acc.username;
    ViewBag.Description = "Thông tin về tài khoản và các đơn hàng của tài khoản " + acc.username + " đã đặt hàng.";
    ViewBag.Url = "https://" + HttpContext.Current.Request.Url.Host.ToString().Trim().ToLower() + HttpContext.Current.Request.RawUrl.ToString().Trim().ToLower();
    ViewBag.Image = "https://upload.wikimedia.org/wikipedia/commons/thumb/6/67/Crystal_Clear_app_Login_Manager.svg/1024px-Crystal_Clear_app_Login_Manager.svg.png";
}
@section styles{
    <style>
        #orders th {
            text-align: center;
        }

        .view.active,.page_number .active {
            color: #ea3a3c;
        }

        button[disabled] {
            cursor: not-allowed;
        }
    </style>
<link href="~/assets/client/css/sorttable.css?@TempData["Version"]" rel="stylesheet" />
}
@section scripts
{
    <script>
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
<script src="~/assets/client/js/code/sorttable.js?@TempData["Version"]"></script>
}
<!--breadcrumbs area start-->
<div class="breadcrumbs_area">

    <div class="row">
        <div class="col-12">
            <div class="breadcrumb_content">
                <ul>
                    <li><a href="/">Trang chủ</a></li>
                    <li><i class="fa fa-angle-right"></i></li>
                    <li>Tài khoản @acc.username</li>
                </ul>

            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->
<!-- Start Maincontent  -->
<section class="main_content_area">
    <div class="account_dashboard">
        <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-3">
                <!-- Nav tabs -->
                <div class="dashboard_tab_button">
                    <ul role="tablist" class="nav flex-column dashboard-list">

                        <li> <a href="#orders" data-toggle="tab" class="nav-link active">Đơn đặt hàng</a></li>
                        <li><a href="#account-details" data-toggle="tab" class="nav-link">Cập nhật tài khoản</a></li>

                    </ul>
                </div>
            </div>
            <div class="col-sm-12 col-md-9 col-lg-9">
                <!-- Tab panes -->
                <div class="tab-content dashboard_content">
                    <div class="tab-pane fade" id="account-details">
                        <div class="login">
                            <div class="login_form_container">
                                <div class="account_form register">
                                    <h3>Thông tin tài khoản</h3>
                                    <div class="form">
                                        @if (acc.issocial == 0)
                                        {
                                            <p>
                                                <label for="fullnameupdate">Họ tên</label>
                                                <input value="@acc.fullname" type="text" id="fullnameupdate" name="fullnameupdate">
                                            </p>
                                            if (!acc.username.Equals("admin"))
                                            {
                                                <p>
                                                    <label for="emailupdate">Email</label>
                                                    <input type="text" value="@acc.email" id="emailupdate" name="emailupdate">

                                                </p>
                                            }
                                            else
                                            {
                                                <p>
                                                    <input type="hidden" value="@acc.email" id="emailupdate" name="emailupdate">
                                                </p>
                                            }
                                        }
                                        else
                                        {
                                            <p>
                                                <input value="@acc.fullname" type="hidden" id="fullnameupdate" name="fullnameupdate">
                                            </p>

                                            <p>
                                                <input type="hidden" value="@acc.email" id="emailupdate" name="emailupdate">

                                            </p>

                                        }
                                        <p>
                                            <label for="phoneupdate">Số điện thoại</label>
                                            <input value="@acc.phone" type="text" id="phoneupdate" name="phoneupdate">

                                        </p>
                                        <p>
                                            <label for="addressupdate">Địa chỉ</label>
                                            <input value="@acc.address" type="text" id="addressupdate" name="addressupdate">

                                        </p>
                                        @if (acc.issocial == 0)
                                        {
                                            <p>
                                                <label for="imageupdate">Ảnh đại diện</label>
                                                <br />
                                                <img id="imgupdate" width="100" data-val="@acc.image" alt="Lỗi ảnh đại diện" src="/@acc.image" />
                                                <br />
                                                <span class="custom-file">
                                                    <input type="file" name="file" class="custom-file-input" id="imageupdate">
                                                    <label class="custom-file-label" for="customFile">Chọn file</label>
                                                </span>
                                            </p>
                                        }
                                        else
                                        {
                                            <input id="imgupdate" data-val="@acc.image" type="hidden" />
                                        }
                                        <div class="login_submit">
                                            <button class="w-100" id="btnsaveaccinfo">
                                                <span class="spinner-grow spinner-grow-sm" style="display:none"></span>
                                                Lưu
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade  show active" id="orders">
                        <h3>Đơn đặt hàng</h3>
                        <div class="coron_table table-responsive">
                            <table class="table ui-sortable-table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Ngày</th>
                                        <th>Tình trạng</th>
                                        <th>Tổng</th>
                                        <td style="vertical-align: bottom;border-bottom: 2px solid #dee2e6;text-align: center;font-weight: bold;">Hành động</td>
                                    </tr>
                                </thead>
                                @foreach (var item in Model)
                                {
                                    <tr id="order-@item.id">
                                        <td>@item.id</td>
                                        <td>@DateTime.Parse(item.createdate.ToString()).ToShortDateString()</td>
                                        <td>
                                            <span class="success">
                                                @if (item.paymentmethod == 0)
                                                {
                                                    if (item.status == false)
                                                    {
                                                        <span class='text-danger'>Chưa duyệt</span>
                                                    }
                                                    else if (item.statuspay == false)
                                                    {
                                                        <span class='text-info'>Đang giao</span>
                                                    }
                                                    else
                                                    {
                                                        <span class='text-success'>Đã giao</span>
                                                    }
                                                }
                                                else
                                                {
                                                    if (item.status == false)
                                                    {
                                                        <span class='text-info'>Đang giao</span>
                                                    }
                                                    else
                                                    {
                                                        <span class='text-success'>Đã giao</span>
                                                    }
                                                }
                                            </span>
                                        </td>
                                        <td>@Libary.Instances.convertVND(item.total.ToString()) </td>
                                        <td>
                                            <a href="" data-target="#detail_@item.id" data-id="@item.id" id="view_@item.id" data-toggle="collapse" class="view">
                                                Xem
                                            </a>
                                            |
                                            @if (item.paymentmethod == 0 && item.status == false)
                                            {

                                                <a href="" data-id="@item.id" class="delete_order text-danger">
                                                    Huỷ
                                                </a>

                                            }
                                            else
                                            {
                                                <a style="cursor:not-allowed; opacity:0.8" class="text-danger">
                                                    Huỷ
                                                </a>
                                            }

                                        </td>
                                    </tr>

                                }
                            </table>
                            @foreach (var item in Model)
                            {
                                <div aria-expanded="false" id="detail_@item.id" class="coupon_area collapse">
                                    <h1 class="text-center">Chi tiết đơn hàng @item.id</h1>

                                    <div class="tab-pane " id="orders">
                                        <div class="coron_table table-responsive">
                                            <table class="table">
                                                <thead style="background:#fdfdfd">
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Tên</th>
                                                        <th>Số lượng</th>
                                                        <th>Giá</th>
                                                        <th>Thành tiền</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{ var lstOrderDetail = db.orderdetail.Where(x => x.idorder == item.id).ToList(); }
                                                    @for (int j = 0; j < lstOrderDetail.Count; j++)
                                                    {
                                                        <tr>
                                                            <td>@(j + 1)</td>
                                                            <td><a href="/chi-tiet/@(lstOrderDetail[j].products.alias)">@lstOrderDetail[j].products.name</a></td>
                                                            <td><span class="success">@lstOrderDetail[j].quantity</span></td>
                                                            <td>@Libary.Instances.convertVND(lstOrderDetail[j].price.ToString()) </td>
                                                            <td>@Libary.Instances.convertVND(lstOrderDetail[j].subtotal.ToString())</td>
                                                        </tr>
                                                    }


                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                                        }
                        </div>
                        @if (ViewBag.last != 1)
                        {
                            <div class="pagination_style shop_page" style="justify-content:flex-end">
                                <div class="page_number">
                                    <ul>
                                        @Html.PagedListPager(Model,
                    page => Url.Action("AccountInfo", new { page }),
                    new PagedListRenderOptions
                    {
                        MaximumPageNumbersToDisplay = 4
                    })


                                    </ul>

                                </div>
                            </div>
                        }
                    </div>

                </div>


            </div>
        </div>
</section>
<!-- End Maincontent  -->
