@using NONBAOHIEMVIETTIN.Models;
@model contact
@{
    ViewBag.Title = "Liên hệ";
    var acc = Session["account"] as accounts;
    ViewBag.Description = "Thông tin liên hệ chính thức của shop hoạt động 24/7";
    ViewBag.Url = "https://" + HttpContext.Current.Request.Url.Host.ToString().Trim().ToLower() + HttpContext.Current.Request.RawUrl.ToString().Trim().ToLower();
    ViewBag.Image = "https://media.istockphoto.com/photos/closeup-image-of-male-hands-using-smartphone-with-icon-telephone-picture-id1168945108?b=1&k=20&m=1168945108&s=170667a&w=0&h=vuUT6Qw8h-eRIHQEesB0_fC1V1xgQtPdWp4KyaVXq0M=";
}
@section scripts{
<script src="~/assets/admin/js/ckfinder/ckfinder.js?@TempData["Version"]"></script>

<script src="~/assets/admin/js/ckeditor/ckeditor.js?@TempData["Version"]"></script>
<script>
    var editor = CKEDITOR.replace('message', {
        customConfig: '/assets/admin/js/ckeditor/config.js'
    })
    </script>
    }
<!--breadcrumbs area start-->
<div class="breadcrumbs_area">
    <div class="row">
        <div class="col-12">
            <div class="breadcrumb_content">
                <ul>
                    <li><a href="/">Trang chủ</a></li>
                    <li><i class="fa fa-angle-right"></i></li>
                    <li>Liên hệ</li>
                </ul>

            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->
@if (Model != null)
{
    <!--contact area start-->
    <div class="contact_area">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="contact_message">
                    <h3>Gửi thông tin cho chúng tôi</h3>
                    <div class="row">
                        <div class="col-lg-6">
                            <input name="name" id="name" placeholder="Tên *" value="@(acc!=null?acc.fullname:"")" type="text">
                        </div>
                        <div class="col-lg-6">
                            <input name="email" id="email" placeholder="Email *" value="@(acc!=null?acc.email:"")" type="email">
                        </div>
                        <div class="col-lg-6">
                            <input name="subject" id="subject" placeholder="Tiêu đề *" type="text">
                        </div>
                        <div class="col-lg-6">
                            <input name="phone" id="phone" placeholder="Số điện thoại *" value="@(acc!=null?acc.phone:"")" type="text">
                        </div>

                        <div class="col-12">
                            <div class="contact_textarea">
                                <textarea id="message" placeholder="Thông tin *" name="message" class="form-control2"></textarea>
                            </div>
                            <button id="btnsendcontact" type="submit"> Gửi đi </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="contact_message contact_info">
                    <h3>@Model.title</h3>
                    <p>@Html.Raw(Model.content)</p>
                    <ul>
                        <li><i class="fa fa-fax"></i> Địa chỉ : @Model.address</li>

                        <li><i class="fa fa-phone"></i> <a href="mailto:@Model.email" target="_blank">@Model.email</a></li>
                        <li><i class="fa fa-envelope-o"></i><a href="tel:@Model.phone"> @Model.phone</a></li>
                    </ul>
                    <h3><strong>Ngày-giờ làm việc</strong></h3>
                    <p><strong>@Model.workday</strong>:  @Model.worktime</p>
                </div>
            </div>
        </div>
    </div>

    <!--contact area end-->
    <!--contact map start-->
    <div class="contact_map">
        <div class="row">
            <div class="col-12">
                @Html.Raw(Model.map)
            </div>
        </div>
    </div>
    <!--contact map end-->
}
else
{
    <h1 class="text-center text-danger">Lỗi!! Vui lòng truy cập lại sau.</h1>
}
