@using NONBAOHIEMVIETTIN.Models
@model PagedList.IPagedList<products>
@using PagedList.Mvc;
@{
    ViewBag.Title = ViewBag.alias;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var i = 1;
    var j = i;
    var check = ViewBag.check != null ? ViewBag.check : -1;
}
@section styles{
    <style>
        .pagination-container .active {
            color: red;
        }
    </style>
}
@section scripts{
    <script>
        /*niceSelect*/
        $('select').niceSelect();
    </script>
}
<!--breadcrumbs area start-->
<div class="breadcrumbs_area">
    <div class="row">
        <div class="col-12">
            <div class="breadcrumb_content">
                <ul>
                    <li><a href="/">Trang chủ</a></li>
                    <li><i class="fa fa-angle-right"></i></li>
                    <li>@ViewBag.alias</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->
<!--pos home section-->
<div class="pos_home_section shop_section shop_fullwidth row">

    <div class="col-lg-9 col-md-12 mb-1">
        @if (ViewBag.noti != null)
        {
            <div class="row">
                <div class="col-12">
                    <!--shop toolbar start-->
                    <div class="shop_toolbar mb-35">
                        <div class="list_button">
                            <ul class="nav" role="tablist">
                                <li>
                                    <a class="active" data-toggle="tab" href="#large" role="tab" aria-controls="large" aria-selected="true"><i class="fa fa-th-large"></i></a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#list" role="tab" aria-controls="list" aria-selected="false"><i class="fa fa-th-list"></i></a>
                                </li>
                            </ul>
                        </div>

                        <div class="page_amount">
                            <p>@ViewBag.noti</p>
                        </div>
                        <div class="select_option">
                            <label>Sort By</label>
                            <select name="orderby" id="short">
                                <option value="-1">Chọn kiểu sắp xếp</option>

                                <option value="0">Tên tăng dần</option>
                                <option value="1">Tên giảm dần</option>
                                <option value="2">Giá tăng dần</option>
                                <option value="3">Giá giảm dần</option>

                            </select>
                        </div>
                    </div>
                    <!--shop toolbar end-->
                </div>
            </div>

            <!--shop tab product-->
            <div class="shop_tab_product shop_fullwidth">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="large" role="tabpanel">
                        <div class="row" id="list-item">
                            @foreach (var item in Model)
                            {
                                <div class="col-lg-4 col-md-4 col-sm-6">
                                    <div class="single_product">
                                        <div class="product_thumb">
                                            <a href="/chi-tiet/@(item.alias).html">
                                                <img src="~/assets/img/Nón bảo hiểm/@item.image" alt="">
                                            </a>
                                            <div class="product_action">
                                                <a href="" data-id="@item.id" data-value="1" title="Thêm vào giỏ hàng" class="addcart"> <i class="fa fa-shopping-cart"></i> Thêm vào vào giỏ hàng</a>
                                            </div>
                                        </div>
                                        <div class="product_content">
                                            <span class="product_price">@HoTro.Instances.convertVND(item.price.ToString())</span>
                                            <h3 class="product_title"><a href="/chi-tiet/@(item.alias).html">@item.name</a></h3>
                                        </div>
                                        <div class="product_info">
                                            <ul>
                                                <li><a href="#" class="addwish" title="Thêm vào yêu thích" data-id="@item.id" data-value="1">Thêm vào yêu thích</a></li>
                                                <li><a href="#" data-toggle="modal" class="mt-1" data-target="#modal_box-@item.id" title="Xem chi tiết">Xem chi tiết</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>


                    <div class="tab-pane fade" id="list" role="tabpanel">
                        @foreach (var item in Model)
                        {
                            <div class="product_list_item mb-35">
                                <div class="row align-items-center">
                                    <div class="col-lg-3 col-md-5 col-sm-6">
                                        <div class="product_thumb">
                                            <a href="/chi-tiet/@(item.alias).html"><img src="~/assets/img/Nón bảo hiểm/@item.image" alt=""></a>

                                        </div>
                                    </div>
                                    <div class="col-lg-9 col-md-7 col-sm-6">
                                        <div class="list_product_content">
                                            <div class="product_ratting">
                                                <ul>
                                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                </ul>
                                            </div>
                                            <div class="list_title">
                                                <h3>
                                                    <a href="/chi-tiet/@(item.alias).html">@item.name</a>
                                                </h3>
                                            </div>
                                            <p class="design"> @item.description</p>
                                            <div class="content_price">
                                                <span>@HoTro.Instances.convertVND(item.promationprice.ToString())</span>
                                                <span class="old-price">@HoTro.Instances.convertVND(item.price.ToString())</span>
                                            </div>
                                            <div class="add_links">
                                                <ul style="display:flex;">
                                                    <li><a href="" data-id="@item.id" data-value="1" title="Thêm vào giỏ hàng" class="addcart"> <i class="fa fa-shopping-cart"></i> Thêm vào vào giỏ hàng</a></li>
                                                    <li><a href="#" class="addwish" data-id="@item.id" data-value="1" title="Thêm vào yêu thích"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
                                                    <li><a href="#" data-toggle="modal" data-target="#modal_box-@item.id" title="Xem chi tiết"><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <!--shop tab product end-->
                @if (ViewBag.last != 1)
                {
                    <!--pagination style start-->
                    <div class="pagination_style shop_page" style="justify-content:flex-end">
                        @*<div class="item_page">
                                <form action="hhihi">
                                    <label for="page_select">show</label>
                                    <select id="page_select">
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                    </select>
                                    <span>Products by page</span>
                                </form>
                            </div>*@
                        <div class="page_number">
                            <ul>
                                @if (check == 0)
                                {


                                    @Html.PagedListPager(Model,
    page => Url.Action("Index", new { page }),
    new PagedListRenderOptions
    {
        MaximumPageNumbersToDisplay = 5
    })
                                }
                                else
                                            if (check == 1)
                                {
                                    @Html.PagedListPager(Model,
    page => Url.Action("GroupProducts", new { page }),
    new PagedListRenderOptions
    {
        MaximumPageNumbersToDisplay = 5
    })
                                }
                                else
                                if (check == 2)
                                {
                                    @Html.PagedListPager(Model, page => Url.Action("Search", new { tukhoa = Request.Url.Query.Substring(Request.Url.Query.IndexOf("?tukhoa="), Request.Url.Query.LastIndexOf('&') == -1 ? Request.Url.Query.Length : Request.Url.Query.LastIndexOf('&')).Replace("?tukhoa=", ""), page }),
                                    new PagedListRenderOptions
                                    {
                                        MaximumPageNumbersToDisplay = 5
                                    });


                                                        }


                            </ul>

                        </div>

                    </div>

                    <!--pagination style end-->
                }
            </div>
        }

    </div>
    <div class="col-lg-3 col-md-12">
        @RenderPage("~/Views/Shared/_Slidebar-temp.cshtml")
    </div>
</div>
<!--pos home section end-->
<!-- modal area start -->
@foreach (var item in Model)
{
    <div class="modal fade" id="modal_box-@item.id" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal_body">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5 col-md-5 col-sm-12">
                                <div class="modal_tab">
                                    <div class="tab-content" id="pills-tabContent">
                                        <div class="tab-pane fade show active" id="tab-@(i++)" role="tabpanel">
                                            <div class="modal_tab_img">
                                                <a href="#"><img src="~/assets/img/Nón bảo hiểm/@item.image" alt=""></a>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="tab-@(i++)" role="tabpanel">
                                            <div class="modal_tab_img">
                                                <a href="#"><img src="~/assets/img/product/product14.jpg" alt=""></a>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="tab-@(i++)" role="tabpanel">
                                            <div class="modal_tab_img">
                                                <a href="#"><img src="~/assets/img/product/product15.jpg" alt=""></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal_tab_button">
                                        <ul class="nav product_navactive" role="tablist">
                                            <li>
                                                <a class="nav-link active" data-toggle="tab" href="#tab-@(j++)" role="tab" aria-controls="tab1" aria-selected="false"><img src="~/assets/img/Nón bảo hiểm/@item.image" alt=""></a>
                                            </li>
                                            <li>
                                                <a class="nav-link" data-toggle="tab" href="#tab-@(j++)" role="tab" aria-controls="tab2" aria-selected="false"><img src="~/assets/img/cart/cart18.jpg" alt=""></a>
                                            </li>
                                            <li>
                                                <a class="nav-link button_three" data-toggle="tab" href="#tab-@(j++)" role="tab" aria-controls="tab3" aria-selected="false"><img src="~/assets/img/cart/cart19.jpg" alt=""></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-12">
                                <div class="modal_right">
                                    <div class="modal_title mb-10">
                                        <h2>@item.name</h2>
                                    </div>
                                    <div class="modal_price mb-10">
                                        <span class="new_price">@HoTro.Instances.convertVND(item.promationprice.ToString())</span>
                                        <span class="old_price">@HoTro.Instances.convertVND(item.price.ToString())</span>
                                    </div>
                                    <div class="modal_size mb-15">
                                        <h2>size</h2>
                                        <ul>
                                            <li><a href="#">s</a></li>
                                            <li><a href="#">m</a></li>
                                            <li><a href="#">l</a></li>
                                            <li><a href="#">xl</a></li>
                                            <li><a href="#">xxl</a></li>
                                        </ul>
                                    </div>
                                    <div class="modal_add_to_cart mb-15">
                                        <div class="form">
                                            <input min="1" max="100" step="1" id="txtquantity-@item.id" value="1" type="number">
                                            <button data-id="@item.id" class="btnaddcart" type="submit">Thêm vào giỏ hàng</button>
                                        </div>
                                    </div>
                                    <div class="modal_description mb-15">
                                        <p>@item.description</p>
                                    </div>
                                    <div class="modal_social">
                                        <h2>Share this product</h2>
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<!-- modal area end -->
